@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Inter:wght@300&display=swap');

*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Be vietnam Pro';
    margin-top: 20px;
    width: 375px;
    padding-right: 30px;
    padding-left: 30px;
}
header{
    display: flex;
    justify-content: space-between;
}
header nav{
    display: none;
}
header button{
    display: none;
}
.containter-intro{
    width: 375px;
    text-align: center;
    align-items: center;
}
.containter-intro, h2{
   
    font-size: 4rem;
    text-align: center;
}
.containter-intro, .text-intro, button{
    text-align: center;
    align-items: center;
}
p{
    font-size: 1.6rem;
    text-align: center;
}
h3{
    font-size:3rem ;
    text-align: center;
}
h6{
    text-align: center;
    font-size: 2rem;
}
button{
    height: 44px;
    width: 143px;
    border-radius: 50px;
    background-color: #F3603B;
}
button[type="button"]{
    height: 44px;
    width: 100px;
    border-radius: 50px;
    background-color: #F3603B; 
}
footer{

}